defmodule MasterProxy.Plug do
  def init(options) do
    options
  end

  def call(conn, _opts) do
    if conn.request_path =~ ~r{^/#{<%= Macro.underscore(@app2) %>}} do
      <%= Macro.camelize(@app2) %>.Endpoint.call(conn, [])
    else
      <%= Macro.camelize(@app1) %>.Endpoint.call(conn, [])
    end
  end
end
